<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.google.com/css?family=Railway:400,700' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo" style="width:20%;">
			<%= link_to root_path do %>
				<%= image_tag "logo.png" %>
			<% end %>
		</div>

		<ul>
			<li class="category">Bb Alerts</li>
			<li><%= link_to "Blog", root_path %></li>
			<li><%= link_to "About", about_path %></li>
		</ul>

		<ul>
			<li class="category">Resources</li>
			<li><a href="https://eportal.blackboardss.com" target="_blank">ePortal</a></li>
			<li><a href="https://login.microsoftonline.com" target="_blank">Office 365</a></li>
		</ul>

		<% if !user_signed_in? %>
			<p class="sign_in"><%= link_to "Login", new_user_session_path %></p>
      <p class="register"><%= link_to('Register', new_user_registration_path)  %></p>
		<% end %>
	</div>

	<div id="main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<p>All Posts</p>
			<% elsif current_page?(about_path) %>
				<p>All Posts</p>
			<% else %>
				<%= link_to "Back to All Posts", root_path %>
			<% end %>

			<% if user_signed_in? %>
				<div class="buttons">
					<button class="button"><%= link_to "New Post", new_post_path %></button>
					<button class="button"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></button>
				</div>
			<% end %>
		</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:p, msg, class: "alert") %>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
